<div class="container">
  <form #form="ngForm">
    <div class="form-group my-3">
      <label for="exampleInputEmail1">Title</label>
      <input type="text" class="form-control" id="title" ngModel name="title" required placeholder="Enter title">
    </div>
    <div class="form-group mb-3">
      <label for="content">content</label>
      <textarea type="password" rows="3" class="form-control" id="content" required name="content" ngModel
        placeholder="Enter Content"></textarea>
    </div>
    <div class="mb-3">
      <button type="button" class="btn btn-primary" [disabled]="form.invalid"
        (click)="onCreatePost()">{{!isSending?'Send Post':'Sending..'}}</button>
      |
      <button type="button" class="btn btn-danger" (click)="onDeletPosts()">Clear Post</button>
    </div>
    <button type="button" class="btn btn-success" (click)="onFetchPosts()">Fetch Post</button>

  </form>
  <div class="row mt-3">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p *ngIf="loadedPosts.length<1 && !isFetching">No posts available!!!</p>
      <ul class="list-group" *ngIf="loadedPosts.length>0 && !isFetching">
        <li class="list-group-item mb-3" *ngFor="let post of loadedPosts">
          <h3>{{post.title}}</h3>
          <p>{{post.content}}</p>
        </li>
      </ul>
      <p *ngIf="isFetching">Loading...</p>
    </div>
  </div>
</div>